<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>search.html</welcome-file>
	</welcome-file-list>

	<!-- Servlets -->
	<servlet>
		<servlet-name>searchServlet</servlet-name>
		<servlet-class>org.kuokuo.server.SearchServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>contentServlet</servlet-name>
		<servlet-class>org.kuokuo.server.ContentServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchServlet</servlet-name>
		<url-pattern>/search/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contentServlet</servlet-name>
		<url-pattern>/search/content</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.kuokuo.KuokuoContextListener</listener-class>
	</listener>
</web-app>
