/** Add css rules here for your application. */
.root table td, .root select, .root button
{
	font-family: 宋体;
	font-size: 12px;
}

.item-gray
{
	color: gray; font-size: 12px;
}

.gwt-CheckBox .gwt-CheckBox-disabled
{
	color: gray;
}

.root .gwt-Button
{
	font-family: 宋体;
	font-size: 12px;
}